
<p>Here comes the content..</p>
<p class="jumbotron">Fascinating - another design for this paragraph with Bootstrap! <span class="glyphicon glyphicon-thumbs-up"></span></p>
<article id="tree"> <!-- this article is filled with example-data -->
    <div class="row level1">
        <div class="col-md-12">
            <h2>Level 1: Information and instructions...</h2>
            <p>Filled by jQuery and AJAX.</p>
        </div>
        <div class="col-md-12">
            The form and it's data.<br />
            Filled by jQuery and AJAX.
        </div>
    </div>
    <div class="row level2">
        <div class="col-md-12">
            <h2>Level 2: Information and instructions...</h2>
            <p>Filled by jQuery and AJAX.</p>
        </div>
        <div class="col-md-12">
            The form and it's data.<br />
            Filled by jQuery and AJAX.
        </div>
    </div>
</article>
