<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Solve-IT Yourself - [[*title]]</title>
    <meta name="description" content="Here is a short description for the page. This text is displayed e. g. in search engine result listings.">
    <link href="./css/bootstrap.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="./js/html5shiv.min.js"></script>
        <script src="./js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header class="container">
    [[*header]]
</header>
<section class="container bg-color01">
    <h1>[[*title]]</h1>
    [[*main]]
</section>
<footer class="container bg-color02">
    [[*footer]]
</footer>
<script src="./js/jquery.min.js"></script>
<script src="./js/bootstrap.js"></script>
<script src="./js/script.js"></script> <!-- Place your javascript here... -->
</body>
</html>
